<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/showprofile.css">
    <title>User Profile</title>
</head>

<body>
    <div class="container">
        <h1>User Profile</h1>
        <div class="user-details">
            <p>Email: <%= user.email %></p>
            <% if (profile.length > 0 && profile[0].profileDetails.length > 0) { %> <%
                profile[0].profileDetails.forEach(profileDetail => { %>
                <p>name: <%= profileDetail.name %></p>
                <p>Address: <%= profileDetail.address %></p>
                <p>Phone: <%= profileDetail.phone %></p>
                <p>place: <%= profileDetail.place %></p>
                <% }); %> <% } else { %>
                <p>No profile details found.</p>
                <% } %>
            <a href="/userprofile" class="edit-profile-button">Edit Profile</a>
        </div>
    </div>
</body>

</html>
